body {
    margin: 0;
    font-family: Yomogi, sans-serif;
    color: #6d2f03;
    background-color: #5BA0FA;
}

header {
    background-color: #4661E3;
    height: minmax(10vh, auto);
}
header h1, header p {
    margin: 0 0 0 2vw;
}

.fact-div {
    background-color: #5BA0FA;
    height: minmax(50vh, auto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fact-div h2 {
    text-align: center;
}
.fact-div p {
    margin: 0 2vw 19.92px 2vw;
}
#button {
    height: 40px;
    margin: 0;
    border-radius: 5px;
    font-family: Yomogi, sans-serif;
}